/*******************************************************************************
 * Themes
 ******************************************************************************/
 
:root {
  --global-bg-color: #{$warm-sand-color};       // was $grey-color-medium
  --global-text-color: #{$warm-brown-color};    // was $black-color
  --global-text-color-light: #{$warm-brown-color}; // was $black-color
  --global-theme-color: #{$sage-green-color};   // was $red-color
  --global-hover-color: #{$warm-gold-color};    // was $blue-color

  code {
  color: var(--global-theme-color);
  background-color: var(--global-code-bg-color);
}

  // --global-bg-color: #{$grey-color-medium};
  --global-code-bg-color: #{$code-bg-color-light};
  // --global-text-color: #{$black-color};
  // --global-text-color-light: #{$black-color};
  //--global-theme-color: #{$new-color-green};
  // --global-hover-color: #{$blue-color};
  --global-footer-bg-color: #{$grey-color-dark};
  --global-footer-text-color: #{$grey-color-light};
  --global-footer-link-color: #{$white-color};
  --global-distill-app-color: #{$grey-color};
  --global-divider-color: rgba(0,0,0,.2);
  --global-card-bg-color: #{$white-color};

  .fa-sun {
    display : none;
  }
  .fa-moon {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }

  .repo-img-light {
    display: block;
  }
  .repo-img-dark {
    display: none;
  }
}

html[data-theme='dark'] {
  --global-bg-color: #{$grey-color-dark};
  --global-code-bg-color: #{$code-bg-color-dark};
  --global-text-color: #{$grey-color-light};
  --global-text-color-light: #{$grey-color-light};
  --global-theme-color: #{$cyan-color};
  --global-hover-color: #{$cyan-color};
  --global-footer-bg-color: #{$grey-color-light};
  --global-footer-text-color: #{$grey-color-dark};
  --global-footer-link-color: #{$black-color};
  --global-distill-app-color: #{$grey-color-light};
  // --global-divider-color: #424246;
  --global-divider-color: #000000;
  --global-card-bg-color: #{$grey-900};

  .fa-sun {
    padding-left: 10px;
    padding-top: 12px;
    display : block;
  }
  .fa-moon {
    display : none;
  }

  .repo-img-light {
    display: none;
  }
  .repo-img-dark {
    display: block;
  }
}


