---

---
@charset "utf-8";

// Dimensions
// TODO: Figure out best way to handle this automatically
$max-content-width: {{ site.max_content_width | default: "900px" }};

@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
.pub-awards li {
  font-weight: 500; /* slightly heavier than normal, lighter than bold */
  list-style-type: disc;
  
  color: #006D77;   /* dark navy blue */
 }